.text-div {
  font-family: 'Inter';
  font-style: normal;
}

.custom-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1%;
}

.products-text {
  font-weight: 600;
  font-size: 64px;
  line-height: 150%;
  color: #003DF2;
  margin-bottom: 5px;
}

form {
  width: 500px;
}

.input-group input {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 5%;
  background: #FFFFFF;
  border: 1px solid #C2C2C2;
  border-radius: 20px;
  margin-bottom: 0.3rem;
}

.input-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 300px;
}

.add-product-button {
  width: 100%;
  height: 5%;
  background: #003DF2;
  border-color: #003DF2;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: relative;
  background: transparent;
  border-radius: 24px;
  overflow: hidden;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 0.5%;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  box-sizing: border-box;
}

.product-item {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 8%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  
  position: relative;
  background: #FAFAF5;
  border: 2px solid #E6E6E6;
  border-radius: 24px;
}

.product-item h4 {
  margin-bottom: 5px;
}

.product-item select {
  margin-top: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container .pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-container .pagination .page-item {
  margin: 0 5px;
}

.pagination-container .pagination .page-link {
  color: #003df2;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-container .pagination .page-link:hover {
  color: #001a7f;
}

.pagination-container .pagination .page-item.active .page-link {
  font-weight: bold;
}
@media (min-width: 768px) {
  .form-container {
    flex-direction: row;
    justify-content: flex-start;
  }
}