.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.login-input,
.login-select,
.login-button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.login-button {
  background-color: #246aeb;
  color: #fff;
  cursor: pointer;
}

.login-header {
  text-align: center;
}